{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://elstestserver.endicia.com/LabelService/EwsLabelService.asmx/BuyPostageXML",
        "body": {
          "encoding": "US-ASCII",
          "string": "recreditRequestXML=%0A%20%20%20%20%20%20%3CRecreditRequest%3E%0A%20%20%20%20%20%20%20%20%3CRequesterID%3Elxxx%3C%2FRequesterID%3E%0A%20%20%20%20%20%20%20%20%3CRequestID%3E0%3C%2FRequestID%3E%0A%20%20%20%20%20%20%20%20%3CCertifiedIntermediary%3E%0A%20%20%20%20%20%20%20%20%20%20%3CAccountID%3E1234567%3C%2FAccountID%3E%0A%20%20%20%20%20%20%20%20%20%20%3CPassPhrase%3Ecurrent_password%3C%2FPassPhrase%3E%0A%20%20%20%20%20%20%20%20%3C%2FCertifiedIntermediary%3E%0A%20%20%20%20%20%20%20%20%3CRecreditAmount%3E10%3C%2FRecreditAmount%3E%0A%20%20%20%20%20%20%3C%2FRecreditRequest%3E"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "text/xml; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<RecreditRequestResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"www.envmgr.com/LabelService\">\r\n  <Status>0</Status>\r\n  <RequesterID>lxxx</RequesterID>\r\n  <RequestID>0</RequestID>\r\n  <CertifiedIntermediary>\r\n    <AccountID>1234567</AccountID>\r\n    <SerialNumber>0</SerialNumber>\r\n    <PostageBalance>30</PostageBalance>\r\n    <AscendingBalance>0</AscendingBalance>\r\n    <AccountStatus>A</AccountStatus>\r\n    <DeviceID>071S01234567</DeviceID>\r\n  </CertifiedIntermediary>\r\n</RecreditRequestResponse>"
        },
      },
      "recorded_at": "Tue, 12 May 2015 21:34:26 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
