{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://elstestserver.endicia.com/LabelService/EwsLabelService.asmx/ChangePassPhraseXML",
        "body": {
          "encoding": "US-ASCII",
          "string": "changePassPhraseRequestXML=%0A%20%20%20%20%20%20%20%20%3CChangePassPhraseRequest%3E%0A%20%20%20%20%20%20%20%20%20%20%3CRequesterID%3Elxxx%3C%2FRequesterID%3E%0A%20%20%20%20%20%20%20%20%20%20%3CRequestID%3E0%3C%2FRequestID%3E%0A%20%20%20%20%20%20%20%20%20%20%3CCertifiedIntermediary%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CAccountID%3E1234567%3C%2FAccountID%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CPassPhrase%3Enot_the_current_password%3C%2FPassPhrase%3E%0A%20%20%20%20%20%20%20%20%20%20%3C%2FCertifiedIntermediary%3E%0A%20%20%20%20%20%20%20%20%20%20%3CNewPassPhrase%3Enew_password%3C%2FNewPassPhrase%3E%0A%20%20%20%20%20%20%20%20%3C%2FChangePassPhraseRequest%3E"
        },
        "headers": {
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "text/xml; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ChangePassPhraseRequestResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"www.envmgr.com/LabelService\">\r\n  <Status>12507</Status>\r\n  <ErrorMessage>The Certified Intermediary’s pass phrase is incorrect. Error encountered (Log ID: 38422)</ErrorMessage>\r\n</ChangePassPhraseRequestResponse>"
        },
      },
      "recorded_at": "Tue, 12 May 2015 18:24:31 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.3"
}
