{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://elstestserver.endicia.com/LabelService/EwsLabelService.asmx/GetPostageLabelXML",
        "body": {
          "encoding": "US-ASCII",
          "string": "labelRequestXML=%0A%20%20%20%20%20%20%20%20%3CLabelRequest%20Test%3D%22YES%22%20LabelType%3D%22Default%22%20ImageFormat%3D%22PDF%22%20LabelSize%3D%224x6%22%3E%0A%20%20%20%20%20%20%20%20%20%20%3CRequesterID%3Elxxx%3C%2FRequesterID%3E%0A%20%20%20%20%20%20%20%20%20%20%3CAccountID%3E1234567%3C%2FAccountID%3E%0A%20%20%20%20%20%20%20%20%20%20%3CPassPhrase%3Ecurrent_password%3C%2FPassPhrase%3E%0A%20%20%20%20%20%20%20%20%20%20%3CMailClass%3EPriority%3C%2FMailClass%3E%0A%20%20%20%20%20%20%20%20%20%20%3[...]
