{"http_interactions":[{"request":{"method":"post","uri":"http://www.dial-a-zip.com/XML-Dial-A-ZIP/DAZService.asmx/MethodZIPValidate","body":{"encoding":"US-ASCII","string":"input=%0A%20%20%20%20%3CVERIFYADDRESS%3E%0A%20%20%20%20%20%20%3CCOMMAND%3EZIP1%3C%2FCOMMAND%3E%0A%20%20%20%20%20%20%3CSERIALNO%3E400540%3C%2FSERIALNO%3E%0A%20%20%20%20%20%20%3CUSER%3E400540%3C%2FUSER%3E%0A%20%20%20%20%20%20%3CPASSWORD%3E385Sh3rm4n%3C%2FPASSWORD%3E%0A%20%20%20%20%20%20%3CADDRESS0%3E%3C%2FADDRESS0%3E%0A%20%20%20%20%20%20%3CADDRESS1%3EDymo%20Endicia%3C%2FADDRESS1%3E%0A%20%20%20%20%20%20%3CADDRESS2%3E100%20Fake%20Avenue%3C%2FADDRESS2%3E%0A%20%20%20%20%20%20%3CADDRESS3%3EPalo%20Alto%2C%20CA%2094306%3C%2FADDRESS3%3E%0A%20%20%20%20%3C%2FVERIFYADDRESS%3E"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<Dial-A-ZIP_Response>\r\n  <User>400540</User>\r\n  <Command>ZIP1</Command>\r\n  <ReturnCode>25</ReturnCode>\r\n  <ZIP5>94306</ZIP5>\r\n  <Plus4>\r\n  </Plus4>\r\n  <CRT>\r\n  </CRT>\r\n  <AddrLine1>100 FAKE AVENUE</AddrLine1>\r\n  <AddrLine2>DYMO ENDICIA</AddrLine2>\r\n  <AddrLine3>\r\n  </AddrLine3>\r\n  <AddrLineLast>PALO ALTO CA 94306</AddrLineLast>\r\n  <City>PALO ALTO</City>\r\n  <State>CA</State>\r\n  <DPDigits>\r\n  </DPDigits>\r\n  <CountyNo>\r\n  </CountyNo>\r\n  <LotSEQ>\r\n  </LotSEQ>\r\n  <LotAscend> </LotAscend>\r\n  <CongressDist>\r\n  </CongressDist>\r\n  <NumResp>0</NumResp>\r\n  <AddrExists>FALSE</AddrExists>\r\n  <AMSDate>20150615</AMSDate>\r\n  <AMSVersion>2.88.03.N</AMSVersion>\r\n  <RecType> </RecType>\r\n  <LACSStatus> </LACSStatus>\r\n  <LACSIndicator> </LACSIndicator>\r\n  <LACSReturnCode>\r\n  </LACSReturnCode>\r\n  <HSA> </HSA>\r\n  <HSC> </HSC>\r\n  <DPVFootNote>\r\n  </DPVFootNote>\r\n  <PRUrban>\r\n  </PRUrban>\r\n  <USPSFirmName>\r\n  </USPSFirmName>\r\n  <CountyName>\r\n  </CountyName>\r\n  <RDI> </RDI>\r\n  <UPSRural> </UPSRural>\r\n  <ZIPLookupCount>2902186</ZIPLookupCount>\r\n  <AMSOpenRC>-1</AMSOpenRC>\r\n  <ComputerName>NAPALPRDDAZ02</ComputerName>\r\n  <TimeStamp>7/14/2015 7:12:09 PM</TimeStamp>\r\n</Dial-A-ZIP_Response>"},"http_version":null},"recorded_at":"Tue, 14 Jul 2015 19:12:09 GMT"}],"recorded_with":"VCR 2.9.3"}